/* The CSS Stylesheet is properly linked and formats at least 2 elements on the HTML page. */
/* General Styles */

body {
  /* The background is styled correctly and changes the color of the webpage's background. */
  background-color: #e9ecef;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* H1 tag is styled correctly and changes the color of the text. */
h1 {
  color: #212529;
  font-size: 2rem;
}

/* H3 tag is styled correctly and changes the color of the text. */
h3 {
  color: #495057;
}

p {
  font-size: 2rem;
}

label {
  margin-left: 5px;
}

input {
  width: 100px;
  padding: .375rem .75rem;
}

.no-result {
  display: none;
}