body {
    font-family: Arial, sans-serif;
}

div {
    margin-top: 20px;
}

canvas {
    border: 1px solid darkblue;
}

input {
    width: 60px;
}

p {
    width: 31.25rem;
    text-align: center;
    position: relative;
    top: -65px;
}

button,
#maxViewsLabel {
    margin-left: 25px;
}